" settings {{{1
set ignorecase

set incsearch
set hlsearch
set showmatch
set ignorecase
set smartcase

noremap x "_x

set clipboard^=unnamedplus

set splitbelow
set splitright


" keybind {{{1
inoremap fd <ESC>
vnoremap fd <ESC>

nnoremap <silent> <tab> >>
nnoremap <silent> <S-tab> <<
vnoremap <silent> <tab> >gv
vnoremap <silent> <S-tab> <gv

noremap j gj
noremap k gk
noremap gj j
noremap gk k
noremap m %
noremap <S-h> ^
noremap <S-l> $
noremap <S-j> }
noremap <S-k> {
noremap } <S-j>
noremap { <S-k>
nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz
nnoremap # #zz

omap iq i'
omap iQ i"
omap aq a'
omap aQ a"
omap fq f'
omap fQ f"
omap tq t'
omap tQ t"

nnoremap <silent> <SPACE>th gT
nnoremap <silent> <SPACE>tl gt

nnoremap <silent> <SPACE>ws :split<CR>
nnoremap <silent> <SPACE>wv :vsplit<CR>
nnoremap <silent> <SPACE>wd :close<CR>
nnoremap <silent> <SPACE>wD <c-w>j:close<CR>

nnoremap <silent> <SPACE>ma `a
nnoremap <silent> <SPACE>ms `s
nnoremap <silent> <SPACE>md `d
nnoremap <silent> <SPACE>mA :mark a<CR>
nnoremap <silent> <SPACE>mS :mark s<CR>
nnoremap <silent> <SPACE>mD :mark d<CR>

nmap <SPACE>wl <c-w>l
nmap <SPACE>wh <c-w>h
nmap <SPACE>wj <c-w>j
nmap <SPACE>wk <c-w>k

nnoremap <SPACE>vo zo
nnoremap <SPACE>vO zO
nnoremap <SPACE>vc zc
nnoremap <SPACE>vC zC

nnoremap <silent> <SPACE>re :noh<CR>

nnoremap <silent> <SPACE>tn :set norelativenumber<CR> :set number!<CR>
nnoremap <silent> <SPACE>tN :set nonumber<CR> :set relativenumber!<CR>

" action list {{{1

nnoremap <SPACE>mgd :action GotoDeclaration<CR>
nnoremap <SPACE>mgg :action GotoImplementation<CR>
nnoremap <SPACE>mgc :action GotoClass<CR>
nnoremap <SPACE>mqi :action QuickImplementations<CR>
nnoremap <SPACE>mr :action RenameElement<CR>
nnoremap <SPACE>mu :action ShowUsages<CR>

nnoremap <SPACE>cs :action EditorCompleteStatement<CR>

nnoremap <SPACE>fm :action Move<CR>
nnoremap <SPACE>ff :action GotoFile<CR>

nnoremap <SPACE>gb :action Annotate<CR>
nnoremap <SPACE>gm :action Git.Branches<CR>
nnoremap <SPACE>gd :action Compare.SameVersion<CR>
nnoremap <SPACE>gD :action Compare.Selected<CR>

nnoremap <SPACE>m= :action ReformatCode<CR>
nnoremap <SPACE><SPACE> :action GotoAction<CR>
nnoremap <SPACE>fr :action RecentFiles<CR>

nnoremap <silent> <SPACE>bo :action CloseAllEditorsButActive<CR>
nnoremap <silent> <SPACE>qq :action CloseProject<CR>

" idea keymap {{{1
" Enter C-m
" Backspace C-h
" Down C-j
" Up C-k
